@using MIDIS.SGPVL.ManagerDto.ComitePvl.Cmd

@model CmdComiteDto;

<div class="modal-content">
    <div class="modal-header" style="background-color:#F0F3FA;border-bottom: 1px solid #E2E6EE;">
        <h5 class="modal-title">Registro de Comite PVL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <form id="myForm">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="btnGrabar">Grabar</button>

   
        </div>
    </form>
</div>
