@{
    ViewData["Title"] = "Principal";
    ViewData["TitleOption"] = "Inicio";
    ViewData["PageName"] = "home";
}

@section breadcrumb {

    <li class="breadcrumb-item">Pagina Inicio</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
}

<div class="card mb-g">
    <div class="card-body pb-0 px-4">
   
        <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
            <!-- URL post -->
            <div class="d-flex overflow-hidden rounded w-100 border">
                <div class="row no-gutters" style="height:300px;">
                    <div class="col-2 col-sm-4" style="background-image:url('asset/img/home-vl.jpg'); background-size: cover;"></div>
                    <div class="col">
                        <div class="bg-faded flex-1 p-4 h-100">
                            <h6 class="text-dark fw-500 fs-xxl">
                                Bienvenido
                            </h6>
                            <p class="text-dark m-0 text-justify text-black-50 fs-lg fw-500">
                                Sistema de Gestión de Programa Vaso de Leche del Ministerio de Desarrollo e Inclusión Social, en el marco del Sistema Unificado de Beneficiarios de Intervenciones Alimentarias; el mismo que permitirá dar cumplimiento de los requerimientos formulados por la Dirección de Prestaciones Sociales Complementarias (DPSC).

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
   
</div>