@{
    ViewData["Title"] = "Principa";
    ViewData["TitleOption"] = "Principal";
    ViewData["PageName"] = "home";
}

@section breadcrumb {

    <li class="breadcrumb-item">Pagina Principal</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
}



<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    <h3 class="mb-g">
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </h3>

</div>
